<app-form-container
  [title]="this.headerlabel"
  [formGroup]="form"
  (submitForm)="saveChanges()"
  (cancelForm)="cancel()"
>
<!-- Name Input -->
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="form.controls['name']" />
  </mat-form-field>

  <!-- Date of Birth Input -->
  <app-date-picker
    label="Date Birthday"
    [dateOfBirthValue]="model?.dateOfBirth"
    (dateOfBirth)="onDateOfBirthChange($event)"
  ></app-date-picker>

  <!-- Image Input -->
  <app-input-img
    label="Image"
    [imageUrl]="model?.imageUrl"
    (imageSelected)="onImageSelected($event)"
  ></app-input-img>

  <mat-error>{{this.printErrorMessage()}}</mat-error>

</app-form-container>
