<mat-toolbar>
  <button routerLink="" mat-icon-button class="button-logo" >
    <mat-icon>movie</mat-icon>
    <span class="title-logo">
      Movies</span>
  </button>
  <div>
    <button routerLink="movies/filter" mat-icon-button class="button-logo">
      <mat-icon>search</mat-icon>
      <span class="title-logo">Search Movie</span>
    </button>
  </div>
  <div>
    <button routerLink="genres" mat-icon-button class="button-logo">
      <span class="title-logo">Genres</span>
    </button>
  </div>
  <div>
    <button routerLink="actors" mat-icon-button class="button-logo">
      <span class="title-logo">Actors</span>
    </button>
  </div>
  <div>
    <button routerLink="cinema" mat-icon-button class="button-logo">
      <span class="title-logo">Cinema</span>
    </button>
  </div>
  <div>
    <button routerLink="/movies/create" mat-icon-button class="button-logo">
      <span class="title-logo">Create Movie</span>
    </button>
  </div>
</mat-toolbar>

